
*.bin
build/
checkpoints/
chroma_db/
*.ckpt
data/guidelines/*
!data/guidelines/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep
dist/
.DS_Store
# DVC
.dvc/cache/
.dvc/tmp/
*.egg-info/
.env
env/
.idea/
*.log
logs/
mlartifacts/
# MLflow
mlflow.db
mlruns/
notebooks/.ipynb_checkpoints/
*.pt
*.pth
__pycache__/
*.py[cod]
runs/
.venv/
venv/
.vscode/
wandb/
